In [1]:
import pandas as pd
data = pd.read_csv("zoo.csv")
data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [2]:
data2 = pd.read_csv("class.csv")
data2

,Class_Number,Number_Of_Animal_Species_In_Class,Class_Type,Animal_Names
0,1,41,Mammal,"aardvark, antelope, bear, boar, buffalo, calf,..."
1,2,20,Bird,"chicken, crow, dove, duck, flamingo, gull, haw..."
2,3,5,Reptile,"pitviper, seasnake, slowworm, tortoise, tuatara"
3,4,13,Fish,"bass, carp, catfish, chub, dogfish, haddock, h..."
4,5,4,Amphibian,"frog, frog, newt, toad"
5,6,8,Bug,"flea, gnat, honeybee, housefly, ladybird, moth..."
6,7,10,Invertebrate,"clam, crab, crayfish, lobster, octopus, scorpi..."

In [3]:
#En teste par l'entite animaux
animaux=data["animal_name"].values

animaux

array(['aardvark', 'antelope', 'bass', 'bear', 'boar', 'buffalo', 'calf',
       'carp', 'catfish', 'cavy', 'cheetah', 'chicken', 'chub', 'clam',
       'crab', 'crayfish', 'crow', 'deer', 'dogfish', 'dolphin', 'dove',
       'duck', 'elephant', 'flamingo', 'flea', 'frog', 'frog', 'fruitbat',
       'giraffe', 'girl', 'gnat', 'goat', 'gorilla', 'gull', 'haddock',
       'hamster', 'hare', 'hawk', 'herring', 'honeybee', 'housefly',
       'kiwi', 'ladybird', 'lark', 'leopard', 'lion', 'lobster', 'lynx',
       'mink', 'mole', 'mongoose', 'moth', 'newt', 'octopus', 'opossum',
       'oryx', 'ostrich', 'parakeet', 'penguin', 'pheasant', 'pike',
       'piranha', 'pitviper', 'platypus', 'polecat', 'pony', 'porpoise',
       'puma', 'pussycat', 'raccoon', 'reindeer', 'rhea', 'scorpion',
       'seahorse', 'seal', 'sealion', 'seasnake', 'seawasp', 'skimmer',
       'skua', 'slowworm', 'slug', 'sole', 'sparrow', 'squirrel',
       'starfish', 'stingray', 'swan', 'termite', 'toad', 'tortoise',
       'tuatara', 'tuna', 'vampire', 'vole', 'vulture', 'wallaby', 'wasp',
       'wolf', 'worm', 'wren'], dtype=object)

In [4]:
# predicat : est_aminal
def est_animal(animal):
    return animal in animaux

#predicat : est_mammifere
def est_mammifere(animal):
    mammiferes = data2.loc[data2['Class_Type'] == 'Mammal', 'Animal_Names'].tolist()
    return animal in mammiferes

#predicat : est_carnivore
def est_carnivore(animal):
    carnivore_classes = [1, 2, 3, 4, 5, 7]
    animal_class = data.loc[data["animal_name"] == animal, "class_type"].values[0]
    return animal_class in carnivore_classes

In [5]:
# Règle : regle_est_carnivore_mammifere(X) : - est_animal(X),est_mammifere(X),est_carnivore(X). 
#Cette règle signifie que si X un animal est à la fois un mammifère et carnivore, alors il est un mammifère carnivore.
def regle_est_carnivore_mammifere(animal):
    if est_animal(animal):
        return est_mammifere(animal) and est_carnivore(animal)
    else:
        return False

In [7]:
#le fait :nous pouvons définir le fait "le lion est carnivore" en utilisant la colonne "predator" qui indique 
#sil'animal est un prédateur ou non. Si la valeur de la colonne pour le lion est 1, cela signifie que le lion est un prédateur, donc le fait est vrai. Si la valeur est 0, le lion n'est pas un prédateur, donc le fait est faux.
est_predator = lambda animal: data.loc[data["animal_name"] == animal, "predator"].values[0] == 1
print("antelope",est_predator("antelope"))
print("lion : ",est_predator("lion"))

antelope False
lion :  True